@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}


/* Sheard style */

.disylay-flex{
  display: flex;
}

.text-gray{
  color: #424242;
}

.text-bold{
  color: #131313;
}

.btn-primary{
  background: #FF900E;
  border: none;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 700px;
  padding: 20px 25px;
  margin-bottom: 50px;
}

.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}

.text-gray-light{
  color: #727272;
}

.nav-item{
  list-style: none;
  margin-right: 30px;
}

.brand{
  font-size: 2.8rem ;
  font-weight: 700px;
}

.nav-link{
  text-decoration: none;

}

.navbar{
  justify-content: space-between;
  align-items: center;
}

.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}

.banner-contant{
  max-width: 868px;
  margin: 0 auto;
  text-align: center;
}

.banner-title{
  font-size: 4rem;
  font-weight: bold;
  color: #131313;
  margin-bottom: 0;
}

.banner-discription{
  font-size: 1rem;
  font-weight: 500px;
  line-height: 26px;
  /* margin-bottom: 32px; */
}

.banner-imgas{
  width: 100%;
}

/* team and featrure related styles */

main{
  max-width: 1440px;
  margin: 0 auto;
}

main > section{
  margin-top: 130px;
}

.teams{
  align-items: center;
  /* max-width: 1000px; */
  margin-left: 100px;
}

.team-img-container{
  /* max-width: 1300px; */
  /* height: 342px; */
  display: grid;
  gap: 24px;
  /* margin-left: 301px; */
  grid-template-columns: repeat(2, 1fr);
}

.our-features{
  margin-left: 73px;
  max-width: 500px;
}

.feature-title{
  font-size: 2.9rem;
  margin-bottom: 24px;
}
.part3{
  color: #FF900E;
  font-weight: 700;
}

.part1{
  font-weight: 500;
}

.feature-discription{
  font-size: 16px;
  line-height: 26px;
}

.section-title{
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 24px;
}


.fact-taxt-pragraph p{
  width: 542px;
  margin-bottom: 100px;
}



.fact-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.fact-card{
  border: 1px solid #FF900E;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.fact-card img{
  width: 45px;
  height: 45px;
  /* margin-bottom: 10px; */
}

.fact-number{
  font-size: 2.8rem;
  font-weight: 700px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.fact-name{
  font-size: 1.2rem;
  font-weight: 600px;
  color:#727272;
  margin-top: 5px;
}

.out-sponsore{
  width: 542px;
  margin: 0 auto;
  text-align: center;
}

.out-sponsore h2{
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 24px;
}

.out-sponsore p{
  font-size: 16px;
  font-weight: 400px;
  line-height: 26px;
  color: #727272;
  margin-bottom: 50px;
}

.info-sponsore{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  filter: grayscale(100%);
}

footer{
  max-width: 1440px;
  background: #FFF4E7 ;
  padding: 38px 410px;
  text-align: center;
  margin: 130px auto;
}

.importent-text .importent-h4{
  font-size: 45px;
  font-weight: bold;
  max-width: 400px;
  margin-bottom: 24px;
}

.importent-text #border{
  border-left: 5px solid #FF900E;
  padding-left: 21px;
}

.importent-text p{
  font-size: 16px;
  font-weight: 500px;
  color: #727272;
  max-width: 550px;
  margin-bottom: 30px;
}

.importent-card{
  max-width: 586px;
  gap: 20px;
  box-sizing: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
}

@media screen and (max-width: 576px) {
  .navbar , 
  .nav-link,
  .teams{
    flex-direction: column;
  }

}

@media  screen and (max-width: 576px) {
  
  .team-img-container, .fact-container{
    grid-template-columns: 1fr;
  }
}