@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}


/* Sheard style */

.disylay-flex{
  display: flex;
}

.text-gray{
  color: #424242;
}

.text-bold{
  color: #131313;
}

.btn-primary{
  background: #FF900E;
  border: none;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 700px;
  padding: 20px 25px;
  margin-bottom: 50px;
}

.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}

.text-gray-light{
  color: #727272;
}

.nav-item{
  list-style: none;
  margin-right: 30px;
}

.brand{
  font-size: 2.8rem ;
  font-weight: 700px;
}

.nav-link{
  text-decoration: none;

}

.navbar{
  justify-content: space-between;
  align-items: center;
}

.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}

.banner-contant{
  max-width: 868px;
  margin: 0 auto;
  text-align: center;
}

.banner-title{
  font-size: 4rem;
  font-weight: bold;
  color: #131313;
  margin-bottom: 0;
}

.banner-discription{
  font-size: 1rem;
  font-weight: 500px;
  line-height: 26px;
  /* margin-bottom: 32px; */
}

.banner-imgas{
  width: 100%;
}

/* team and featrure related styles */

main{
  max-width: 1440px;
  margin: 0 auto;
}

main > section{
  margin-top: 130px;
}

.teams{
  align-items: center;
}

.team-img-container{
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(2, 1fr);
}

.our-features{
  margin-left: 73px;
  max-width: 500px;
}

.feature-title{
  font-size: 2.9rem;
  margin-bottom: 24px;
}
.part3{
  color: #FF900E;
  font-weight: 700;
}

.part1{
  font-weight: 500;
}

.feature-discription{
  font-size: 16px;
  line-height: 26px;
}




@media screen and (max-width: 576px) {
  .navbar , .nav-link{
    flex-direction: column;
  }
}